:root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

body {
    background-image: url(../assets/img/bg.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1rem;
    display: flex;
    justify-content: center;
}


.box {
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: fit-content;
    height: 70px;
    border-radius: 0 0 20px 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.header span {
    font-size: 30px;
    color: var(--black-color);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color); /* Removed space before --primary-color */
}

.task-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.task {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    font-size: 16px;
    background: transparent;
    color: var(--black-color);
    background-color: var(--primary-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
    padding: 1rem;
}

.row-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.description {
    margin-bottom: 0.5rem;
}
.button-container {
    display: flex;
    justify-content: center;
}
.optionButton {
    display: flex;
    background-color: var(--second-color);
    width: fit-content;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    border: var(--black-color) solid 1px;
}